<div id="\{{id}}-investment-card" class="container investment-card border-3 bg-light m-1 front-and-centered" data-parent=\{{id}}>
  <div class="row">
    <div class="col-11">
      <h4>\{{title}} Investments</h4>
    </div>
    <div class="col-1">
      <button id="\{{id}}-exit-button">X</button>
    </div>
  </div>
  <hr/>
  <div class="row" align="center">
    <!-- Coins side -->
    <div class="col-6" align="center">
      <p>Coins</p>
      <input id="\{{id}}-investment-coins-input" class="number-input" type="number">
    </div>
    <!-- Materials side -->
    <div class="col-6" align="center">
      <p>Materials</p>
      XXXMATERIALSXXX
    </div>
  </div>
  <hr/>
  <!-- submit button -->
  <div class="row">
    <div class="col-12" align="center">
      <button id="\{{id}}-invest-submit-button">Invest</button>
    </div>
  </div>
</div>
