<div id="\{{id}}-upgrade-card" class="container border-3 bg-light m-1 front-and-centered">
  <div class="row">
    <div class="col-11">
      <h4>\{{title}} Upgrades</h4>
    </div>
    <div class="col-1">
      <button id="\{{id}}-exit-button">X</button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <p>Utilized Value: \{{upgradeValue}}/\{{value}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col" align="center">
      XXXUPGRADESXXX
    </div>
  </div>
</div>
