<div class="row">
  <div class="col-4">
    <b>\{{title}}</b>
  </div>
  <div class="col-4">
    <p>\{{description}}</p>
  </div>
  <div class="col-2">
    <p>[\{{quantity}}/\{{maximum}}]</p>
  </div>
  <div class="col-2">
    <button id="\{{id}}-purchase-button" XXXDISABLEDXXX>XXXCOSTXXX</button>
  </div>
</div>
